@import '../../styles/utils.scss';
@import '../../styles/common.scss';

.container {
  width: 100%;
}

.container > div {
  height: 90px;
  border-radius: 10px;
  padding: 6px;
}

.container > div:nth-child(odd) {
  @include css4() {
    background-color: var(--fileListOddBg);
  }
}

.container > div:nth-child(even) {
  @include css4() {
    background-color: var(--fileListEvenBg);
  }
}

.entity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top > span:first-child {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.top > span:last-child {
  white-space: nowrap;
}

.bottom {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.bottom button {
  margin-right: 8px;
}

.rsvg path {
  @include css4() {
    fill: var(--fileListNavManClr);
  }
}