@import '../../styles/utils.scss';
@import '../../styles/common.scss';

.container {
  display: flex;
  flex-direction: column;
}

.container span {
  font-weight: 900;
  font-size: 20px;
  text-decoration: underline;
}

.container p {
  font-size: 18px;
  word-break: break-all;
}

.operation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-body-inner {
  @include flex-center;
}
