@import '../styles/utils.scss';

body {
	@include css4 {
		color: var(--color);
		background: var(--background);
		font: {
			family: var(--font);
		};
  }
}

.file-uploader {
	max-width: 500px;
	height: 200px;
}