@import '../../styles/utils.scss';
@import '../../styles/common.scss';

.container {
  @include flex-center;
  border-radius: 8px;
  @include css4() {
    background-color: var(--fileUploaderBg);
  }

  height: 200px;
  @include mqSmMobileWidth() {
    height: 50px;
  }
}

.inner {
  @include flex-center;
  flex-direction: column;
}

.inner p {
  @include css4() {
    color: var(--fileUploaderTxtClr);
  }
  font-size: 32px;
}

.img {
  margin-bottom: 20px;
  @include mqSmMobileWidth() {
    display: none;
  }
}
